
body {
    font-family: sans-serif;
    margin: 0;
}

#content, nav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    margin-top: 25px;
    margin-bottom: 25px;
}

nav {
    margin-top: 5px;
    margin-bottom: 5px;
}

nav ul {
    padding-left: 0;
}

nav li {
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    text-align: center;
}

nav li:first-child {
    margin-left: 0;
}

